input {
    margin: 5px 0;
    padding: 5px;
    min-width: 250px;
}
button {
    margin: 5px;
    margin-left: 0;
    background: #41A5E1;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }